<!DOCTYPE html>
<html>
<head>
    <title>Hello World</title>
    <style>
        .rainbow {
            background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            display: inline-block;
            text-align: center;
        }
    </style>
</head>
<body>
<h1 class="rainbow">Hello World!</h1>
</body>
</html>
